<div id="buttons" class="panel_buttons panel col-md-10 col-md-offset-1">
  <form class="inline_button col-md-3" method="post" action="/doing">
    <input type="hidden" value="danse" name="what" />
    <input id="Demarrer" class="btn btn-default" type="submit" value="danse" />
  </form>
  <form class="inline_button col-md-3" method="post" action="/doing">
    <input type="hidden" value="reset" name="what" />
    <input id="Demarrer" class="btn btn-default" type="submit" value="Retour en position" />
  </form>
  <form class="inline_button col-md-3" method="post" action="/doing">
    <input type="hidden" value="hello" name="what" />
    <input id="Demarrer" class="btn btn-default" type="submit" value="Hello" />
  </form>
  </form>
  
  <form class="inline_button col-md-3" method="post" action="/doing">
    <input type="hidden" value="kung_fu" name="what" />
    <input id="Demarrer" class="btn btn-default" type="submit" value="kung-fu" />
  </form>
  
  <form class="inline_button col-md-3" method="post" action="/doing">
    <input type="hidden" value="masturbation" name="what" />
    <input id="Demarrer" class="btn btn-default" type="submit" value="masturbation" />
  </form>

  <form class="inline_button col-md-3" method="post" action="/doing">
    <input type="hidden" value="pasvoir" name="what" />
    <input id="Demarrer" class="btn btn-default" type="submit" value="pasvoir" />
  </form>
</div>
