	<div id="buttons" class="panel_buttons panel col-md-10 col-md-offset-1">
		<form class="inline_button col-md-3" method="post" action="/doing">
			<input type="hidden" value="usain_bolt" name="what" />
			<input id="Demarrer" class="btn btn-default" type="submit" value="Let's doing Usain Bolt" />
		</form>
		<form class="inline_button col-md-3" method="post" action="/doing">
			<input type="hidden" value="usain_bolt" name="what" />
			<input id="Demarrer" class="btn btn-default" type="submit" value="Let's doing Usain Bolt" />
		</form>
		<form class="inline_button col-md-3" method="post" action="/doing">
			<input type="hidden" value="usain_bolt" name="what" />
			<input id="Demarrer" class="btn btn-default" type="submit" value="Let's doing Usain Bolt" />
		</form>
		<form class="inline_button col-md-3" method="post" action="/doing">
			<input type="hidden" value="usain_bolt" name="what" />
			<input id="Demarrer" class="btn btn-default" type="submit" value="Let's doing Usain Bolt" />
		</form>
	</div>