<div id="buttons" class="panel_buttons panel col-md-10 col-md-offset-1">
  <form class="inline_button col-md-3" method="post" action="/doing">
    <input type="hidden" value="man_hello" name="what" />
    <input id="Demarrer" class="btn btn-default" type="submit" value="man hello" />
  </form>
  <form class="inline_button col-md-3" method="post" action="/doing">
    <input type="hidden" value="reset" name="what" />
    <input id="Demarrer" class="btn btn-default" type="submit" value="Retour en position" />
  </form>
  <form class="inline_button col-md-3" method="post" action="/doing">
    <input type="hidden" value="hello" name="what" />
    <input id="Demarrer" class="btn btn-default" type="submit" value="Hello" />
  </form>
</div>
