
<div class="col-md-3">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Player Audio</h3>
		</div>

		<form method="post" action="/upload" enctype='multipart/form-data'> <!--multipart permet de dire au formulaire qu'il doit s'attendre à recevoir des fichiers binaires -->
			<input type="file" name="file">
			<input type="submit" >
		</form>

		<div id="playlist">
			<form method="post" action="/say">
			<ul id="my-tracks" class="my-playlist">
				<% @tracks.each do |track| %>
				<li>
					<input type="checkbox" class="to-my-playlist" name="sentences[]" value="<%= track.lien%>"/>
					<span class="my-song" data-lien="<%= track.lien %>"><%= track.title %></span>
					<a href="#" class="remove-my-song pull-right">x</a>
					<hr class="hr_track" />
				</li>
				<% end %>
			</ul>
			<input id="play" type="submit" name="play">
		</div>
			</form>

	</div>

</div>
