<div class="col-md-10 col-md-offset-1">
  <div class="panel_custom panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Tweets</h3>
    </div>
    <form method="post" action="/">
      <%= erb :tweets %>
      <div class="panel-body"><!--3ème panel-body-->
        <input id="envoyer" class="btn btn-default" type="submit" value="Envoyer" />
      </div>
    </form>
  </div>
</div>